@model ERP.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Employee</legend>

    <div class="display-label">Gid</div>
    <div class="display-field">@Model.Gid</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Address</div>
    <div class="display-field">@Model.Address</div>

    <div class="display-label">DeptId</div>
    <div class="display-field">@Model.DeptId</div>

    <div class="display-label">DesignationId</div>
    <div class="display-field">@Model.DesignationId</div>

    <div class="display-label">BloodGroupId</div>
    <div class="display-field">@Model.BloodGroupId</div>

    <div class="display-label">MaritalStatus</div>
    <div class="display-field">@Model.MaritalStatus</div>

    <div class="display-label">JoiningDt</div>
    <div class="display-field">@String.Format("{0:g}", Model.JoiningDt)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


